{% extends 'base.html' %} 

{% load socialaccount %} 
{% providers_media_js%}

{% block contents %}
<div class="container">
    <br>
    <h1>Login</h1>
    <br>
    <form method="POST" action="{%url 'login' %}">
        {% csrf_token %} 
        Username:
        <br>
        <input name="username" type="text" value="">
        <br><br>
        Password:
        <br>
        <input name="password" type="password" value="">
        <br><br>
        <button type="submit" class="btn btn-outline-primary">Login</button>
        <button class="btn btn-outline-primary"><a href="{% url 'signup' %}">Signup</a></button>
    </form>
 
    <br><br><br>
    <a href="{% provider_login_url 'google' %}">구글 로그인</a>
 
   
</div>
{% endblock %}